* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%; 
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    transition: var(--transition)
}

body.dark {
	background: #151e29;
}

:root {
    --p-color: #fff;
    --gradient: #5BC3D5;
    --transition: all .2s ease-in-out
}

header {
    position: fixed;
    left: 0;
    top: 0;
    height: auto;
    width: 280px;
    background: var(--gradient);
    text-align: center;
    color: var(--p-color);
    overflow-y: auto;
    scrollbar-color: rgba(0,0,0,0.2) #5BC3D5;
    scrollbar-width: thin;
    transition: var(--transition);
}

body.dark header {
    background-color: #1E2A3A;
    scrollbar-color: rgba(255,255,255,0.2) #1e2a3a;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(256,256,256, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	position: absolute;
	left: 21px;
	top: 26px;
	width: 30px;
	height: 30px;
	display: none;
    transition: var(--transition);
}

header h1 {
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 1.5rem;
}

header .container-persona {
    padding: 2rem 1rem;
    transition: var(--transition);
}

header .img-persona {
    max-width: 170px;
    border-radius: 50%;
    margin-bottom: 1rem
}

header .text-persona {
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

header ul.social {
    max-width: 150px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 2rem auto 3rem auto;
}

header ul.social li a {
    width: 32px;
    height: 32px;
    padding-top: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    color: #5BC3D5
}

body.dark header ul.social li a {
    background-color: #5BC3D5;
    color: #fff
}

header ul.social li a i {
    width: 20px;
    height: 16px;
}

header hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    transition: var(--transition)
}

body.dark header hr {
    border-color: rgba(255,255,255,0.08);
}

header ul.list {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 120px;
    list-style: none;
    margin: 0 auto;
}

header ul.list li {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem
}

header ul.list li a:hover {
    color: rgba(0, 0, 0, 0.5);
}

body.dark header ul.list li a:hover {
    color: #5BC3D5;
    opacity: .7s;
}

header ul.list li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.main-content {
    margin-left: 280px;
}

article {
    padding: 3.5rem;
    height: 1000px;
    width: auto;
    transition: var(--transition);
}

article .main-flex {
    display: flex;
    flex-direction: row;
}

article .flex-item .img {
    max-width: 250px;
    max-height: 250px;
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
    margin-left: 3rem
}

article h1 {
    font-size: 2.4rem;
    margin-bottom: .25rem;
    color: #292929;
}

article h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
    color: #4f4f4f;
}

article p {
    color: #4f4f4f;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.btn {
    display: inline-block;
	font-weight: bold;
	padding: 0.7rem 1rem;
	transition: all 0.4s ease-in-out;
	font-size: 1rem;
    text-decoration: none;
    color: white;
    background-color: #5BC3D5;
    border-radius: 5px;
}

body.dark article {
    background-color: #111821;
}

body.dark article h1 {
    color: rgb(255, 255, 255);
}

body.dark article p, body.dark article h4 {
    color: rgba(255,255,255,0.7);
}

.dark-mode-container {
    margin-top: 10px
}

.button-body {
    margin: 0 auto;
    width: 75px;
    height: 33px;
    background-color: transparent;
    border: 3px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    position: relative;
    border-radius: 90px;
    transition: var(--transition)
}

body.dark .button-body {
    border-color: #5BC3D5;
}
  
.button {
    width: 22px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 9px;
    top: 6px;
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.5);
    transition: all .2s ease-in-out;
    z-index: 999;
}

body.dark .button {
    background-color: #5BC3D5
}

h4.toggle-mode {
    color: #fff;
    font-size: 0.875rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
    font-weight: bold;
}

@media screen and (max-width: 1008px) {
    header {
        position: relative;
        top: 0;
        height: 80px;
        width: 100%;
        overflow-y: hidden;

    }

    .navbar-toggler-icon {
        display: flex;
        transition: var(--transition)
    }

    .main-content {
        margin-left: 0;
    }
}